#root {
  height: 100vh;
  /*   width: calc(100vw - 2 * var(--spacing-3)); */
  padding: 0 var(--spacing-3);
  margin: auto;
  overflow-y: auto;
}

#content-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2_5);
  margin: auto;
  width: 100%;
  max-width: var(--breakpoint-md);
}
