#root {
  height: 100vh;
  /*   width: calc(100vw - 2 * var(--spacing-3)); */
  padding: 0 0;
  margin: auto;
}

#content-container {
  min-height: 100vh;
  padding: 0 var(--spacing-5);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  margin: auto;
  width: 100%;
  max-width: var(--breakpoint-md);
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  margin-bottom: var(--spacing-8);
}
