button {
  padding: var(--spacing-2) var(--spacing-1_5);
  background: var(--color-background-primary);
  border: none;
  color: black;
  border-radius: var(--radius-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-md);
}

.btn-open {
  color: var(--color-foreground-default);
  background-color: transparent;

  &:hover {
    background-color: var(--color-background-default-hover);
  }
}
