button {
  padding: var(--spacing-2) var(--spacing-1_5);
  padding-top: calc(var(--spacing-2) + var(--spacing-1px));
  border: none;
  border-radius: var(--radius-1);
  color: var(--color-foreground-subtle);
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: var(--spacing-1_5);
  font-size: var(--font-size-sm);
  background-color: transparent;
  width: fit-content;

  p {
    font-size: inherit;
  }
  &:hover {
    background-color: var(--color-background-default-hover);
    color: var(--color-foreground-subtle-hover);

    svg {
      stroke: var(--color-foreground-subtle-hover);
    }
  }
}

.btn--text {
  padding: 0;

  &:hover {
    background-color: transparent;
    color: var(--color-foreground-subtle-hover);
  }
}

.btn--bordered {
  border: 1px solid var(--color-border-subtle);

  &:hover {
    border-color: var(--color-border-subtle-hover);
  }
}
