button {
  padding: var(--spacing-2) var(--spacing-1_5);
  border: none;
  color: black;
  border-radius: var(--radius-2);
  display: flex;
  flex-direction: row;
  align-items: end;
  font-size: var(--font-size-md);
}

.btn-open {
  color: var(--color-foreground-default);
  background-color: transparent;
  transition: background-color var(--transition-fast);

  p {
    font-size: inherit;
  }

  &:hover {
    background-color: var(--color-background-default-hover);
  }
}
