.comment-card {
  display: flex;
  flex-direction: column;
}

.comment-card--child {
  margin-left: var(--spacing-9);
}

.comment-card__username {
  font-weight: var(--font-weight-semibold);
  margin-right: var(--spacing-2);
}

.comment-card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

/* Footer buttons */
.comment-card__footer button {
  font-size: var(--font-size-xs);
  color: var(--color-foreground-subtle);

  svg {
    color: var(--color-foreground-subtle);
  }
}

.comment-card__replies,
.comment-card__footer-spacer {
  margin-right: auto;
}
