.comment-card {
  display: flex;
  flex-direction: column;
}

.comment-card--child {
  margin-left: var(--spacing-9);
}

.comment-card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.comment-card__username {
  color: var(--color-foreground-primary);
}

.comment-card__timestamp {
  font-size: var(--font-size-sm);
  color: var(--color-foreground-subtle);
  margin-left: var(--spacing-2);
  margin-right: auto;
}

.comment-card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: parent;
}

/* Footer buttons */
.comment-card__footer button {
  color: var(--color-foreground-subtle);
  font-size: var(--font-size-sm);

  svg {
    color: var(--color-foreground-default);
  }
}

.comment-card__replies,
.comment-card__footer-spacer {
  margin-right: auto;
}
