.comment-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.comment-section__header {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-3);
  margin-bottom: var(--spacing-3);
  padding-bottom: var(--spacing-2);
  border-bottom: 1px solid var(--color-border-default);
}

.comment-section__sort,
.comment-section__create-comment {
  font-size: var(--font-size-xs);
}

.comment-section__create-comment {
  margin-left: auto;
}

.comment-card {
  display: flex;
  flex-direction: column;
}

.comment-card--child {
  margin-left: var(--spacing-9);
}

.comment-card__username {
  font-weight: var(--font-weight-semibold);
  margin-right: var(--spacing-2_5);
}

.comment-card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

/* Footer buttons */
.comment-card__footer button {
  font-size: var(--font-size-xs);
}

.comment-card__replies span {
  margin-left: var(--spacing-2);
}

.comment-card__replies,
.comment-card__footer-spacer {
  margin-right: auto;
}
