/* footer layout */
.footer {
  border-top: 1px solid var(--color-border-default);
  margin: var(--spacing-6) 0;
  padding: var(--spacing-4) 0;
  margin-top: auto;
}

.footer__body {
  display: grid;
  gap: var(--spacing-1_5);
  grid-template-columns: 1fr 1fr;
}

.footer__link {
  color: var(--color-foreground-subtle);
  font-size: var(--font-size-xs);

  &:hover {
    color: var(--color-foreground-default);
  }
}

.footer__copyright {
  margin-top: var(--spacing-5);
  font-size: var(--font-size-xs);
  color: var(--color-foreground-subtle);
}
