textarea,
input {
  border: 1px solid var(--color-border-subtle);
  padding: var(--spacing-2);
  color: var(--color-foreground-primary);
  width: 100%;
  background-color: var(--color-background-default);
  caret-color: var(--color-foreground-subtle);

  &::placeholder {
    color: var(--color-foreground-placeholder);
  }

  &:focus {
    border-color: var(--color-border-subtle-hover);
  }
}

textarea {
  resize: vertical;
}

input:disabled {
  background: var(--color-background-disabled);
  color: var(--color-foreground-disabled);
}
