.modal {
  width: 100vw;
  height: 100vh;
  background: hsla(var(--gray-1200), 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}

.modal__content {
  max-width: 1000px;
  margin: auto !important;
  padding: var(--spacing-3);
  background: var(--color-background-default);
}
