.modal {
  width: 100vw;
  height: 100vh;
  background: var(--color-background-modal);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: var(--z-index-modal);
  padding: var(--spacing-4);
}

.modal__content {
  max-width: calc(var(--breakpoint-md) - 2 * var(--spacing-6));
  max-height: 80vh;
  overflow: auto;
  width: 100%;
  margin: auto !important;
  padding: var(--spacing-4);
  padding-top: 0;
  background: var(--color-background-default);
  border-radius: var(--radius-1);
  -ms-overflow-style: auto !important;
  scrollbar-width: thin;

  *::-webkit-scrollbar {
    display: block !important;
  }
}

.modal__header {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-1);
  margin-bottom: var(--spacing-4);
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--color-background-default);
  border-bottom: 2px solid var(--color-border-default);
  top: 0;
}

.modal__header--titleless {
  margin-bottom: 0;
  border-bottom: none;
}

.modal__title {
  margin-top: auto;
}

.modal__close {
  font-size: var(--font-size-xs);
  margin-left: auto;
}
