.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: var(--spacing-4) 0;
}

.nav__account {
  color: var(--color-foreground-default);
  transition: color var(--transition-fast);

  &:hover {
    color: var(--color-foreground-default-hover);
  }
}
