.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: var(--spacing-5) 0;
}

.nav__account {
  color: var(--color-foreground-default);

  &:hover {
    color: var(--color-foreground-default-hover);
  }
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
