.question-card {
  border: 1px solid var(--color-border-subtle);
  padding: var(--spacing-3);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);

  &:hover {
    cursor: pointer;
    border-color: var(--color-border-subtle-hover);
  }
}

.question-card__question {
  font-weight: var(--font-weight-bold);
}

.question-card:hover .question-card__question {
  text-decoration: underline;
}

.question-card__info {
  font-size: var(--font-size-xs);
  color: var(--color-foreground-subtle);
}

.question-pagination {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-2);
  justify-content: center;
  align-items: center;
}

.question-pagination__index {
  font-size: var(--font-size-sm);
  color: var(--color-foreground-subtle);
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  padding: 20vh 0;
}

.question__text {
  text-align: center;
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-wide);
}
