.thoughts-header {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-4);
  align-items: baseline;
  padding-bottom: var(--spacing-2);
  border-bottom: 2px solid var(--color-border-default);
}

.thoughts-header__count {
  font-size: var(--font-size-sm);
  color: var(--color-foreground-subtle);
}

.thoughts-header__settings {
  font-size: var(--font-size-sm);
}

.thoughts-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.thoughts-form__button {
  height: calc(var(--spacing-2) * 2 + var(--font-size-md));
  aspect-ratio: 1/1;
  width: auto;
}

.thoughts-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.thought {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.thought__subthoughts {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.thought-card {
  display: flex;
  flex-direction: column;
}

.thought-card--subthought {
  margin-left: var(--spacing-10);
}

.thought-card__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.thought-card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: var(--spacing-2);
}

.thought-card__username {
  color: var(--color-foreground-primary);
}

.thought-card__date {
  margin-right: auto;
  font-size: var(--font-size-sm);
  color: var(--color-foreground-subtle);
}

.thought-card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.thought-card__votes {
  font-size: var(--font-size-sm);
  color: var(--color-foreground-subtle);
}

.thought-card__replies {
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-foreground-subtle);
}
