/* account-header and account-header__text
* were styled in question.css to utilize
* the same styles as question-panel and 
* question-panel__text
* */

.account-stat-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  margin-bottom: var(--spacing-10);
}

.account-stat {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-10);
}

.account-stat__key {
  color: var(--color-foreground-subtle);
  font-size: var(--font-size-xs);
  width: 50%;
  text-align: right;
  padding-top: var(--spacing-1px);
}

a.account-stat__key {
  text-decoration: underline !important;

  &:hover {
    color: var(--color-foreground-subtle-hover);
  }
}

.account-stat__value {
  width: 50%;
  font-weight: var(--font-weight-semibold);
}

.account-view-comments {
  color: var(--color-foreground-subtle);
  margin: auto;
  border: 1px solid var(--color-border-default);

  &:hover {
    color: var(--color-foreground-subtle-hover);
  }
}
