.auth-container {
  min-height: 50vh;
  max-width: var(--breakpoint-sm);
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;

  form {
    width: 100%;
  }
}

.auth-form__title {
  margin: auto;
}

.auth-form__submit {
  margin: auto;
  margin-top: var(--spacing-4);
}

.auth-form__note,
.auth-form__link {
  margin: auto;
  margin-top: var(--spacing-2);
  font-size: var(--font-size-xs);
  color: var(--color-foreground-subtle);
}

.auth-form__link {
  text-decoration: underline;

  &:hover {
    color: var(--color-foreground-default);
  }
}
