.question-card {
  border: 1px solid var(--color-border-subtle);
  padding: var(--spacing-3);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);

  &:hover {
    cursor: pointer;
    border-color: var(--color-border-subtle-hover);
  }
}

.question-card__question {
  font-weight: var(--font-weight-bold);
}

.question-card:hover .question-card__question {
  text-decoration: underline;
}

.question-card__info {
  font-size: var(--font-size-xs);
  color: var(--color-foreground-subtle);
}

.question-card__comment {
  font-size: var(--font-size-sm);
}

.pagination {
  display: flex;
  padding-top: var(--spacing-2);
  flex-direction: row;
  gap: var(--spacing-2);
  justify-content: center;
  align-items: center;
}

.pagination__index {
  font-size: var(--font-size-sm);
  color: var(--color-foreground-subtle);
}
