:root {
/* reds */
--red-100: 0, 85%, 95%;
--red-200: 0, 85%, 85%;
--red-300: 0, 84%, 70%;
--red-400: 0, 84%, 60%;
--red-500: 0, 84%, 50%; /* base */
--red-600: 0, 84%, 40%;
--red-700: 0, 84%, 30%;
--red-800: 0, 84%, 20%;
--red-900: 0, 84%, 15%;

/* greens */ 
--green-100: 102, 71%, 95%;
--green-200: 102, 71%, 85%;
--green-300: 102, 71%, 70%;
--green-400: 102, 71%, 60%;
--green-500: 102, 71%, 50%; /* base */
--green-600: 102, 71%, 40%;
--green-700: 102, 71%, 30%;
--green-800: 102, 71%, 20%;
--green-900: 102, 71%, 15%;

/* yellows */ 
--yellow-100: 47, 100%, 95%;
--yellow-200: 47, 100%, 85%;
--yellow-300: 47, 100%, 70%;
--yellow-400: 47, 100%, 60%;
--yellow-500: 47, 100%, 50%; /* base */
--yellow-600: 47, 100%, 40%;
--yellow-700: 47, 100%, 30%;
--yellow-800: 47, 100%, 20%;
--yellow-900: 47, 100%, 15%;

/* neutrals */ 
--gray-100: 0, 0%, 95%;
--gray-200: 0, 0%, 85%;
--gray-300: 0, 0%, 75%;
--gray-400: 0, 0%, 65%;
--gray-500: 0, 0%, 55%;
--gray-600: 0, 0%, 45%;
--gray-700: 0, 0%, 35%;
--gray-800: 0, 0%, 25%;
--gray-900: 0, 0%, 18%;
--gray-1000: 0, 0%, 12%;
--gray-1100: 0, 0%, 8%;
--gray-1200: 0, 0%, 2%;

/* primaries */
--primary-50: 46, 100%, 95%;
--primary-100: 46, 100%, 85%;
--primary-200: 46, 100%, 75%;
--primary-300: 46, 100%, 65%;
--primary-400: 46, 100%, 55%;
--primary-500: 46, 100%, 45%;
--primary-600: 46, 100%, 35%;
--primary-700: 46, 100%, 25%;
--primary-800: 46, 100%, 18%;
--primary-900: 46, 100%, 12%;
--primary-1000: 46, 100%, 8%;  /* base */
--primary-1100: 46, 100%, 5%;
--primary-1200: 46, 100%, 2%;

/* backgrounds */ 
--bg-100: 48, 100%, 95%;
--bg-200: 48, 100%, 88%;  /* base */
--bg-300: 48, 100%, 75%;
--bg-400: 48, 100%, 65%;
--bg-500: 48, 100%, 55%;
--bg-600: 48, 100%, 45%;
--bg-700: 48, 100%, 35%;
--bg-800: 48, 100%, 25%;
--bg-900: 48, 100%, 15%;

/* foregrounds */ 
--color-foreground-default: hsl(var(--primary-1000));

/* backgrounds */ 
--color-background-default: hsl(var(--bg-200));

/* borders */
}
