@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --font-family-default: 'JetBrains Mono', monospace;

  --font-size-xxs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2rem;

  --font-weight-light: 200;
  --font-weight-normal: 300;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

html {
  font-family: var(--font-family-default);
}

body {
  font-family: var(--font-family-default);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-foreground-default);
}

h1 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-light);
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-normal);
}

p,
a {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-light);
}
