.account-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  margin-bottom: var(--spacing-10);
}

.account-attribute {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-10);
}

.account-attribute__key {
  color: var(--color-foreground-subtle);
  font-size: var(--font-size-xs);
  width: 50%;
  text-align: right;
  padding-top: var(--spacing-1px);
}

a.account-attribute__key {
  text-decoration: underline !important;

  &:hover {
    color: var(--color-foreground-subtle-hover);
  }
}

.account-attribute__value {
  width: 50%;
}

.account-view-comments {
  margin: auto;
}

.account-edit__submit {
  margin: auto;
  margin-top: var(--spacing-4);
}

.account-edit__input {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-2);
}
