.comment-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.comment-section__header {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-3);
  margin-bottom: var(--spacing-3);
  padding-bottom: var(--spacing-2);
  border-bottom: 1px solid var(--color-border-default);
}

.comment-section__sort,
.comment-section__create-comment {
  font-size: var(--font-size-xs);
}

.comment-section__create-comment {
  margin-left: auto;
}

.comment-card {
  display: flex;
  flex-direction: column;
}

.comment-card--child {
  margin-left: var(--spacing-9);
}

.comment-card__content {
  padding-bottom: var(--spacing-1);
}

.comment-card__username {
  font-weight: var(--font-weight-bold);
  margin-right: var(--spacing-2_5);
  &:hover {
    cursor: pointer;
    color: var(--color-foreground-default-hover);
  }
}

.comment-card__date {
  font-size: var(--font-size-sm);
  color: var(--color-foreground-subtle);
}

.comment-card__footer {
  display: flex;
  flex-direction: row;
}

.comment-card__controls {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: end;
}

/* Footer buttons */
.comment-card__footer button {
  font-size: var(--font-size-xs);
}

.comment-card__replies span {
  margin-left: var(--spacing-2);
}

.comment-card__replies {
  margin-right: auto;
}

.comment-form__post {
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin: 10vh 0;
}

.comment-form__textarea {
  min-height: 100px;
}

.comment-form__count {
  color: var(--color-foreground-subtle);
  font-size: var(--font-size-xs);
}

.comment-form__submit {
  margin-left: auto;
  color: var(--color-foreground-default);
}

.comment-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-2);
}

.comment-options__report {
  color: var(--color-foreground-report);

  &:hover {
    color: var(--color-foreground-report-hover) !important;
  }
}
