.text-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  padding: 20vh 0;
}

.text-panel__text {
  text-align: center;
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-wide);
}
